* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(85, 172, 238);
    --deep-blue: rgb(1, 0, 20);
    --blueForm: rgb(8, 6, 37);
    --off-white: aliceblue;
}

.login-section {
    height: 100vh;
    background: var(--deep-blue);
}

.img-area {
    background: url(eae69b9d18208d5c6b369e61bfe963c1.jpg);
    background-size: cover;
    height: 100vh;
}

.txt-area {
    padding: 20px 20px;
}

.txt-area img {
    width: 150px;
    height: auto;
}

.txt-area h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--off-white);
}

.action-btns {
    display: flex;
    flex-direction: column;
    padding: 50px 180px;
}

.action-btns button:nth-child(1) {
    margin-bottom: 25px;
}

.btn-custom {
    background: var(--blue);
    padding: 20px 20px;
    border-radius: 60px;
    color: var(--off-white);
    font-weight: 600;
    font-size: 20px;
}

.btn-custom-outline {
    background: transparent;
    border: 1px solid var(--blue);
    padding: 20px 20px;
    border-radius: 60px;
    color: var(--off-white);
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 765px) {
    .img-area {
        display: none;
    }
    .txt-area {
        padding: 0;
    }
    .txt-area h1 {
        font-size: 30px;
    }
    .action-btns {
        padding: 0;
    }
}

.signupReveal {
    display: none;
}

.loginReveal {
    display: none;
}

.form {
    width: 550px;
    background: var(--blueForm);
    padding: 20px 45px;
    border-radius: 4px;
    margin: 0 auto;
}

.form .form-group {
    text-align: left;
}

.form label {
    color: var(--off-white);
}